/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}

#imagenCarousel{
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position:0px -240px; 
    background-repeat: no-repeat;
    opacity: 0.8;
}

#imagenCarousel2{
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position:bottom; 
    background-repeat: no-repeat;
    opacity: 0.8;
}

#imagenCarousel3{
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position:center; 
    background-repeat: no-repeat;
    opacity: 0.8;
}

#logo_carousel{
    width: 130px;
    height: auto;
}

#textoColor{
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  #myCarousel{
    box-shadow: 3px 1px 8px #3d3d3d;
  }

  /* nav bar */

  .navbar-brand.azul{
    color: #000000;
  }
  .navbar-brand{
    color: #ffffff;
  }

  .nav-link{
    color: #ffffff;
  }
  .nav-link.azul{
    color: #000000;
  }
  .navscroll {
    background-color:rgba(0, 0, 0, 0.0);
    color:yellow;
    transition:background-color 500ms, color 500ms;
    text-decoration: none;
}

.navscroll.azul {
    background-color:rgb(255, 255, 255);
    color:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color:rgba(255, 255, 255, 0.3);
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;

}